APP_ENV="dev"
DB_PORT="5432"
DB_HOST="db"
POSTGRES_DB="share-basket"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"

TEST_DB_HOST="test_db"

AWS_REGION=""
COGNITO_CLIENT_ID=""
COGNITO_CLIENT_SECRET=""
COGNITO_USER_POOL_ID=""